<!DOCTYPE html>
<html>
<head>
	<title>My Account - Admin Panel</title>
</head>
<body>
	<div id="courtdiv">
		<table id="courttable">
			<thead>
				<th>Court id</th> 
				<th>Court name</th>
				<th>Sport</th>
				<th>Opening time</th>
				<th>Closing time</th>
			</thead>
			<tbody id="courtbody"></tbody>
		</table>
	</div>
	<div>
		<form id="courtForm">
			<div>
				<label for="id">Id:</label>
				<label id="id"></label> 
			</div>
	
			<div>
				<label for="name">Name</label>
				<input type="text" id="name">  
			</div>
				 
			<div>
				<label for="sport">Sport</label>
				<select id="sport"></select>
			</div>
	
			<div>
				<label for="openTime">Opening time</label>
				<select id="openTime"></select>
			</div>
	
			<div>
				<label for="closeTime">Closing time</label>
				<select id="closeTime"></select>
			</div>
	
			<div>
				<input type="button" value="Save" id="submitBtn">
				<input type="button"  value="Delete" id="deleteBtn">
				<input type="button" value="New" id="newBtn">
			</div>
		</form>    
			
		
	</div>
</body>
<script src="admin.js"></script>
</html>
