<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <form action="" id="loginForm">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password">
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
            


        </form>
    </body>
    <script src="/static/login.js"></script>
</html>